@media(max-width: 1218px) {
  .aside__footer__list-wrapper{
    flex-direction: column;
  }
}

@media(max-width: 1046px) {
  .projects-inner{
    grid-template-columns: auto;
  }
}

@media(max-width: 767px) {
  .wrapper{
    flex-direction: column;
    align-items: center;
  }

  .content{
    order: 1;
    width: 100%;
  }

  .aside{
    order: 2;
    width: 100%;
    margin-right: 0;
  }

  .content__header{
    text-align: center;
    padding: 50px 0;
  }
}

@media(max-width: 575px) {
  .title {
    font-size: 35px;
  }

  .subtitle{
    font-size: 25px;
  }

  .title_github{
    margin-bottom: 20px;
  }

  .content__block, 
  .aside__header,
  .aside__footer,
  .projects{
    padding: 20px;
  }

  .theme-toggle-btn{
    font-size: 11px;
    padding: 5px;
  }

  .projects__title {
    margin-bottom: 30px;
  }

  .projects-inner{
    display: flex;
    flex-direction: column;
  }

  .projects__item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .github-stat{
    width: 240px;
  }
}

@media(max-width: 414px) {
  .content__text > svg{
    width: 100%;
  }
}