*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:#000;
}

.title{
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 120%;
}

.title-2{
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.title-2::before{
  content: '';
  position: absolute;
  top: 43%;
  left: 0;
  width: 120%;
  height: 15px;
  background-color: #F8D568;
  z-index: -1;
  transition: all .3s;
}

.title-2_dark::before {
  top: 5px;
  left: -5px;
  width: 110%;
  height: 90%;
}

.subtitle{
  font-size: 30px;
  font-weight: 400;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  transition: all .3s;
}

.wrapper_dark{
  background-color: #000;
}

.aside{
  width: 40%;
  background-color: #f5f5f5;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.aside__header{
  padding: 50px;
}

.aside__footer{
  background-color: #F8D568;
  padding: 50px;
}

.aside__footer__list-wrapper{
  display: flex;
  justify-content: space-between;
}

.aside__footer__list{
  font-weight: 600;
  margin-bottom: 10px;
}

.photo-wrapper{
  width: 100%;
  height: 500px;
}

.photo{
  width: 100%;
  height: 100%;
}

.content{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content__header{
  padding: 100px 0;
}

.content__block{
  background-color: #f5f5f5;
  padding: 50px;
  border-top: 25px solid #F8D568;
}

.yellow-text{
  color: #F8D568;
}

.github-link{
  text-decoration: underline;
}

.projects{
  transition: all .3s;
  padding: 50px;
  background-color: #f5f5f5;
}

.projects__title{
  margin-bottom: 50px;
}

.projects__title-wrapper{
  width: 100%;
  text-align: center;
}

.projects-inner{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 300px;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

.projects__item-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projects__item{
  width: 450px;
  height: 300px;
  border: 1px solid #999;
  position: relative;
  z-index: 10;
}

.projects__item::after{
  content: '';
  width: 105%;
  height: 105%;
  position: absolute;
  left: -2.5%;
  top: -2.5%;
  background-color: #F8D568;
  z-index: -1;
}

.projects__item img{
  width: 100%;
  height: 100%;
}


/*theme-toggle*/
.text{
  transition: all .3s;
}

.text._text_dark{
  color: #fff;
}

.block_dark{
  background-color: #292929;
}

.theme-toggle-btn{
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #F8D568;
  text-transform: uppercase;
  border: transparent;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
}